<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-success">
    <div class="navbar-collapse d-flex justify-content-start" id="navbarNav">
      <a class="nav-item nav-link" href="/">
        <h1><strong>KOOL KARZ</strong></h1>
      </a>

      <div class="navbar-section-left d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="Favourites" href="/favourites">
              <h4>Favourites</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <% if (username) { %>
      Welcome: <%= username %>
        <form action="/logout" method="POST">
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-outline-dark">Logout</button>
        </form>
        <% } else { %>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">
              <h3>Login</h3>
            </a>
            <% } %>
          </div>
  </nav>
</header>
