<head>
  <link rel="stylesheet" href="/styles/header.css" />
</head>

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-success mb-5">
    
    <div class="navbar-collapse d-flex justify-content-between" id="navbarNav">
      
      <!-- Left section -->
      <div class="navbar-section-left d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="MyFavorites" href="/myFav">Myfavorites</a>
          </li>
          <ul class="navbar-nav">
            <a class="nav-link" id="inbox" href="/inbox">Inbox</a>
          </ul>
        </ul>
      </div>
      
      <!-- Center section (Brand) -->
      <div class="navbar-brand-center">
        <a class="navbar-brand" href="#">Kool Karz</a>
      </div>
      
      <!-- Right section -->
      <div class="navbar-section-right d-flex">
        <ul class="navbar-nav">
          
            <!-- Display these options only if the user is not logged in -->
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            
           
            <li class="nav-item">
              <form action="/logout" method="post">
                <button type="submit" class="btn btn-link">Logout</button>
              </form>
        </li>
          
        </ul>
      </div>
      
    </div>

  </nav>
</header>







