<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-success mb-5">

    <div class="navbar-collapse d-flex justify-content-between" id="navbarNav">

      <!-- Left section -->
      <div class="navbar-section-left d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="MyFavorites" href="/myFav"><strong>Favourites</strong></a>
          </li>
        </ul>
      </div>

      <!-- Center section (Brand) -->
      <div class="navbar-brand-center">
        <a class="navbar-brand" href="#"><strong>KOOL KARZ</strong></a>
      </div>

      <!-- Right section -->
      <div class="navbar-section-right d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/login"><strong>Login</strong></a>
          </li>
        </ul>
      </div>

    </div>

  </nav>
</header>
