<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post New Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/postAd.css">
</head>
<body>
    <%- include('partials/_header') %>

    <div class="container mt-5">
        <h2>Post a Car for Sale</h2>
        <form action="/submitCar" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="carImage">Car Image:</label>
                <input type="file" class="form-control" id="carImage" name="carImage">
            </div>
            <div class="form-group">
                <label for="carModel">Car Model:</label>
                <input type="text" class="form-control" id="carModel" name="carModel" required>
            </div>
            <div class="form-group">
                <label for="carYear">Car Year:</label>
                <input type="number" class="form-control" id="carYear" name="carYear" required>
            </div>
            <div class="form-group">
                <label for="carPrice">Price:</label>
                <input type="number" class="form-control" id="carPrice" name="carPrice" required>
            </div>
            <button type="submit" class="btn btn-primary">Post Car</button>
        </form>
    </div>

</body>
</html>