.dashboard-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

#post-car-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}

.favourites h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.car-entry {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.delete-car-btn {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}